In [1]:
import pandas as pd

In [3]:
urlTransfer = 'https://raw.githubusercontent.com/edb-313/Football_players_trasfer_value/main/Transfers/Transfers_cleaned.csv'
urlStats = 'https://raw.githubusercontent.com/edb-313/Football_players_trasfer_value/main/StatsData/StatsData_Cleaned.csv'

transfer_df = pd.read_csv(urlTransfer)
stats_df = pd.read_csv(urlStats)

In [5]:
transfer_df.head()

,player_name,age,position,club_involved_name,transfer_period,fee_cleaned,year
0,Ángel Di María,22.0,Right Winger,Real Madrid,Summer,33000000.0,2010
1,Ramires,23.0,Central Midfield,Chelsea,Summer,22000000.0,2010
2,Rafik Halliche,23.0,Centre-Back,Fulham,Summer,2500000.0,2010
3,Ariza Makukula,29.0,Centre-Forward,Manisaspor,Summer,1700000.0,2010
4,David Luiz,23.0,Centre-Back,Chelsea,Winter,25000000.0,2010

In [6]:
stats_df.head()

,Unnamed: 0,Player,Nation,Pos,Age,cum_MP,cum_Min,cum_Gls,cum_Ast,cum_PK,cum_CrdY,cum_CrdR,cum_GlsxMin,cum_AstxMin,cum_G+AxMin,Season
0,0,Quim,pt POR,GK,31,30.0,2639.0,0.0,0.0,0.0,1.0,1.0,0.00,0.00,0.00,2007
1,1,Rui Costa,pt POR,MF,35,29.0,2382.0,5.0,5.0,0.0,6.0,0.0,0.19,0.19,0.38,2007
2,2,Kostas Katsouranis,gr GRE,DFMF,28,27.0,2320.0,2.0,1.0,0.0,9.0,0.0,0.08,0.04,0.12,2007
3,3,Léo,br BRA,DF,32,27.0,2323.0,0.0,3.0,0.0,2.0,0.0,0.00,0.12,0.12,2007
4,4,Óscar Cardozo,py PAR,FW,24,29.0,2283.0,13.0,1.0,3.0,2.0,0.0,0.51,0.04,0.55,2007

,Player,Nation,Pos,Age,MP,Min,Gls,Ast,PK,CrdY,CrdR,GlsxMin,AstxMin,G+AxMin,Season
276,Pedro Pereira,pt POR,FW,32,1,90.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016